
  @import url('https://fonts.googleapis.com/css2?family=Tai+Heritage+Pro&display=swap');/*Tai Heritage Pro*/
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');/*Bebas Neue*/
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');/*Dancing Script*/
  @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;600&family=Crimson+Text&family=Dancing+Script&display=swap');/*Crimson Text*/
*{
    margin: 0%;
    padding: 0%;
}

#pagina{
    height: 100vh;/*VH viewport height*/
    width: 100%;
    background-color: #3c6e71;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

main{
    width: 60%;
    height: 600px;
    background-color: #aed9e0;
    box-shadow: black;
    display: flex;
    overflow: hidden;
    margin: 0px auto;
}

#banner, #formulario{
    width: 50%;
    height: 100%;
}

#banner{
    background-image: url(../images/cadastro.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: 'Crimson Text';
    font-size: 12pt;
}

h1{
    color:#3c6e71;
    margin: 10px 0px;
    font-family: 'Bebas Neue';
}

h3{
    color:#3c6e71;
    margin-bottom: 15px;
    font-family: 'Dancing Script';
}

form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input{
    width: 350px;
    height: 30px;
    border-radius: 5px;
    padding: 3px;
    transition: 0.2s;
    font-family: 'Crimson Text';
    margin-bottom: 0px;
}

input:focus{
    width: 370px;
    height: 40px;
    transition: 0.05s;
}

input:hover{
    background-color: #f7fff7;
    transition: 0.2;
}

input::placeholder{
    color: #5e6472;
}

button{
    width: 200px;
    height: 30px;
    margin: 5px auto;
    background-color: #472d30;
    border-radius: 20px;
    border: none;
    color:aliceblue;
    font-family: 'Crimson Text';
    margin-top: 0px;
}

button:active{
    background-color: #976d6d;
    color: rgb(85, 60, 65);
}

button:hover{
    width: 201px;
    height: 31px;
    background-color: #723d46;
    font-weight: bold;
    transition: 0.1;
}
