@import url('https://fonts.googleapis.com/css2?family=Tai+Heritage+Pro&display=swap');/*Tai Heritage Pro*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');/*Bebas Neue*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');/*Dancing Script*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Dancing+Script&display=swap');/*Cormorant Garamond*/

*{
    margin: 0%;
    padding: 0%;
}

h1{
    font-family: 'Dancing Script';
}