@import url('https://fonts.googleapis.com/css2?family=Tai+Heritage+Pro&display=swap');/*Tai Heritage Pro*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');/*Bebas Neue*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');/*Dancing Script*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Dancing+Script&display=swap');/*Cormorant Garamond*/

:root{
    --azul: #6EB3D0;
    --verde: #3e951a;
    --rosa: #F7B6D2;
    --laranja: #F4A623;
    --preto: #424242;
    --branco: #FFFFFF;
    --azul-claro: #caf0f8;
    --azul-escuro: #0077b6;
}

header, footer{
    background-color: var(--azul-escuro);
}